@import 'tachyons';

/* full height of viewport */
.h-v-100 {
    height: 100vh;
}

/* tachyons overrides */
.underline {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
